*{
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}
:root{
  --texto-cinza:#929a98 ;
	--text-cinza-escuro:#605f61;
  --fundo-claro:#f5f5f5;
  --texto-claro:#f9f9f9;
  --rodape:#468F82;
}

.container-topo{
  width: 100%;
  height: auto;
  position: fixed;
  background-color: var(--fundo-claro);
}

.container-topo-divs{
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; 
    
}

.topo-nome{
  width: 300px;
  padding: 20px 0;
  text-align: center;
    
}

.topo-nav{
  width: 400px;
  margin: auto 0;
  padding: 20px 0;
    
}

.topo-nav nav{
  display: flex;
  justify-content: space-around;
}

.link-topo{
  font-size: 18px;
  color: var(--text-cinza-escuro);
  text-decoration: none;
}
 
.link-destaque{
  font-size: 24px;
  font-weight: 500;
}

.link-destaque span{
    color: #4c7df7;
}

.container-principal{
  background-image: url(../img/ubatubamirim.jpg);
  background-size: cover;
    
  padding: 100px;
  height: 450px;
  border: 1px solid black transparent;
      
}


.principal-conteudo h1{
  font-size: 40px;
  color: var(--texto-claro);
}

.principal-conteudo p{
  font-size: 20px;
  color: var(--texto-claro);
  margin-top: 20px;
}

.container-conteudo{
  width: 100%;
  height: auto;
  padding-top: 60px;
}

.principal-texto{
  width: 1024px;
  margin: 0 auto;
  text-align: center;
  padding: 40px;
}

.principal-texto h2{
  font-size: 30px;
  color: var(--text-cinza-escuro);
  margin-bottom: 30px;
	letter-spacing: 2px;
	
}

.principal-texto p{
	font-size: 18px;
	color: var(--text-cinza-escuro);
	line-height: 32px;
}

.minhasViagens{
	width: 1024px;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}

.minhasViagens div{
	width: 300px;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 20px;
	
}

.minhasViagens img{
	width: 100%;
  height: 212px;
}

.minhasViagens a{
	font-size: 20px;
	color: var(--text-cinza-escuro);
	font-weight: 600;
	text-decoration: none;
  text-transform: uppercase;
	padding: 20px 0;
	border-bottom: 3px solid #1f7c48;
}

.rota{
	width: 100%;
	height: auto;;
	
}

.rota iframe{
	width: 100%;
	height: 300px;
	display: block;
	margin: 0 auto;
}
.rota ul{
  list-style: none;
  color: var(--text-cinza-escuro)
}

.container-rodape{
  width: 100%;
  height: auto;
  padding: 15px 0 10px;
  background-color: var(--rodape);
}

.rodape-contatos{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--rodape);
  border-bottom: 1px solid  #378374;
}

.rodape-contatos p{
  width: 200px;
  font-size: 18px;
  padding: 20px;
  color: var(--texto-claro);
  margin-left: -20px;
}

.rodape-contatos a{
  color: var(--texto-claro);
  text-decoration: none;
}

.rodape-contatos .destaque{
  font-size: 20PX;
  font-weight: 700;
  margin-left: 10PX;
}

.rodape-detalhes{
  font-size: 18PX;
  color: var(--texto-claro);
  text-align: center;
  background-color: var(--rodape);
  margin-top: 30px;
}


